
@mixin center-content-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body {

    background-color: #F8E9DD;
    font-family: 'DM Sans', sans-serif;


    main {
        width: min-width(95%, 375px);
        @include center-content-column;

        .balance {
            color: #FFFBF6;
            background-color: #EC755D;
            width: 343px;
            height: 97px;
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 4rem 0 2rem 0;
            padding: 0 1rem;


            p {
                font-size: 0.938rem;
                position: relative;

                span {

                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

        }

        .chart {

            background-color: #FFFBF6;
            height: 421px;
            width: 343px;
            padding: 1rem;
            border-radius: 1rem;
           

            h1 {
                color: #382314;
                font-size: 1.5rem;
            }

            .chart-container {

                height: 177px;
            }

            .month-total {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-top: 2px solid #F8E9DD;
                margin-top: 1rem;
                

                .this-month-text {
                    
                    color: #92857A;
                    font-size: 0.938rem;

                    span {

                        font-size: 1.875rem;
                        color: #382314;
                    }
                }

                .last-month-text {

                    color: #92857A;
                    font-size: 0.938rem;

                    span {
                        color: #382314;;

                    }
                }

                .this-month-text, .last-month-text {
                    margin-top: 3rem;
                    
                }
            }



            
        }
    }

    @media screen and (min-width: 1440px) {

        main {

            width: 1440px;

            .balance {

                width: 540px;
                height: 125px;
                margin-top: 7rem;

                p {

                    font-size: 1.125rem;

                    span {
                        font-size: 2rem;
                    }
                }




            }

            .chart {

                width: 540px;
                height: 511px;

                .chart-container {
                    height: 308px;

                    #myExpensesChart:hover {

                        cursor: pointer;


                    }
                   
                }

                .month-total {

                    margin-top: -2.5rem;
                    padding: 0 1rem;

                    .this-month-text {

                        font-size: 1.125rem;

                        span {
                            font-size: 3rem;
                        }

                    }

                    .last-month-text {

                        font-size: 1.125rem;

                    }
                }



            }

        }
        
    }
}